<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176266779922-9eocff7jlfmonqok1vasclh8g05to37c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176266779922-9eocff7jlfmonqok1vasclh8g05to37c</string>
	<key>API_KEY</key>
	<string>AIzaSyDmVdIGSJO5bEc4fsmGUJOYJCRaje8RPh0</string>
	<key>GCM_SENDER_ID</key>
	<string>176266779922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.release.savepy</string>
	<key>PROJECT_ID</key>
	<string>savepy-61357</string>
	<key>STORAGE_BUCKET</key>
	<string>savepy-61357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176266779922:ios:70c8a1f4c19ff2012da7cb</string>
</dict>
</plist>